<br><br><font size=6><b>Advanced</b> Transformations

<font size=3><ul><li>Suganthan Thamotharampillai
<br><li>02.08.2023

<br><font size=5><b>Imports

In [2]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, json

<br><font size=5><b>Data

In [489]:
# SUPERHEROES Dataset from Kaggle
superhero_info  = pd.read_csv("Data/superhero_info.csv")
superhero_power = pd.read_csv("Data/superhero_powers.csv")
df = superhero_info

<br><font size=5><b>Dataframe</b> Overview

In [490]:
# Data Display
display(superhero_info)
display(superhero_power)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"
...,...,...,...,...,...,...,...,...
458,Yellowjacket|Marvel Comics,Male,Human,good,Blond,blue,Unknown,"{'Height': '183.0 cm', 'Weight': '83.0 kg'}"
459,Yellowjacket II|Marvel Comics,Female,Human,good,Strawberry Blond,blue,Unknown,"{'Height': '165.0 cm', 'Weight': '52.0 kg'}"
460,Yoda|George Lucas,Male,Yoda's species,good,White,brown,green,"{'Height': '66.0 cm', 'Weight': '17.0 kg'}"
461,Zatanna|DC Comics,Female,Human,good,Black,blue,Unknown,"{'Height': '170.0 cm', 'Weight': '57.0 kg'}"
462,Zoom|DC Comics,Male,Unknown,bad,Brown,red,Unknown,"{'Height': '185.0 cm', 'Weight': '81.0 kg'}"

          hero_names                                             Powers
0            3-D Man         Agility,Super Strength,Stamina,Super Speed
1             A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2         Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3           Abin Sur                                 Lantern Power Ring
4        Abomination  Accelerated Healing,Intelligence,Super Strengt...
..               ...                                                ...
662  Yellowjacket II                 Flight,Energy Blasts,Size Changing
663             Ymir  Cold Resistance,Durability,Longevity,Super Str...
664             Yoda  Agility,Stealth,Danger Sense,Marksmanship,Weap...
665          Zatanna  Cryokinesis,Telepathy,Magic,Fire Control,Proba...
666             Zoom  Super Speed,Intangibility,Time Travel,Time Man...

[667 rows x 2 columns]

<br><br><br><font size=6><b>Advanced</b> Transformations

<font style="font-size:16px"><b>TRANSFORMATIONS</b></font><br>
<font style="font-size:15px">
    <ol>
        <li>Hero|Publisher string column will be separated into individual respective columns</li>
        <li>Measurements column:</li>
            <ul>
                <li>String column will be converted to dictionary</li>
                <li>Dictionary will be unpacked into separate columns</li>
                <li>Separated columns will be changed to respective data types</li>
            </ul>
        <li>3. Powers column will be one-hot-encoded</li>
    </ol>

<br><br><b>1. Hero|Publisher string column to be separated into individual respective columns

In [491]:
# Exploring existing format
df[['Hero|Publisher']].head(2)

                 Hero|Publisher
0          A-Bomb|Marvel Comics
1  Abe Sapien|Dark Horse Comics

In [492]:
# Splitting & Expanding
display(df['Hero|Publisher'].str.split('|', expand=True).head(2))
df[['Hero','Publisher']] = df['Hero|Publisher'].str.split('|', expand=True);dff.head(2)

            0                  1
0      A-Bomb      Marvel Comics
1  Abe Sapien  Dark Horse Comics

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [493]:
# REARRAGEMENTS
df = pd.concat([df[['Hero','Publisher']], df[df.columns[~df.columns.isin(['Hero','Publisher','Hero|Publisher'])]]] ,axis=1);df.head()

,Hero,Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb,Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien,Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur,DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination,Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man,Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

<br><b>2a. Measurements string column will be converted to dictionary

In [494]:
# Examine single Value
display(type(df['Measurements'][0]), df['Measurements'][0])

str

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [495]:
# Change all values
# Replace Strings
df['Measurements'] = df['Measurements'].str.replace("'",'"')

# Apply json.loads
df['Measurements'] = df['Measurements'].apply(json.loads)

In [496]:
# Check Value
display(type(df['Measurements'][0]), df['Measurements'][0])

dict

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

<br><b>2b. Dictionary will be unpacked into separate columns

In [497]:
df = pd.concat((df[df.columns[~df.columns.isin(['Measurements'])]], df['Measurements'].apply(pd.Series)), axis = 1);df.head()

,Hero,Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight
0,A-Bomb,Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0 cm,441.0 kg
1,Abe Sapien,Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0 cm,65.0 kg
2,Abin Sur,DC Comics,Male,Ungaran,good,No Hair,blue,red,185.0 cm,90.0 kg
3,Abomination,Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0 cm,441.0 kg
4,Absorbing Man,Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,193.0 cm,122.0 kg

<br><b>2c. Separated columns will be changed to respective data types

In [498]:
# Replace string characters
df['Height'] = df['Height'].str.replace(' cm','', regex=False)
df['Weight'] = df['Weight'].str.replace(' kg','', regex=False)
df[['Height', 'Weight']].head(2)

  Height Weight
0  203.0  441.0
1  191.0   65.0

In [499]:
# Change Data-type
print('Before:', type(df['Height'][0]), type(df['Weight'][0]))
df[['Height', 'Weight']] = df[['Height', 'Weight']].apply(pd.to_numeric)
print('After: ', type(df['Height'][0]), type(df['Weight'][0]))

Before: <class 'str'> <class 'str'>
After:  <class 'numpy.float64'> <class 'numpy.float64'>

<br><b>3. Powers column will be one-hot-encoded